<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css'%}">

    <link rel="stylesheet" href="{% static 'blog/css/style.css'%}">

    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>DrX Website</title>
    {% endif %}
</head>
<body>
    <!-- Main Header Start -->
    <header class="header-area">
      <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
          <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="/"><img src="{% static 'blog/img/core-img/logo.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'blog-blog' %}">News</a></li>
                    <li><a href="{% url 'services' %}">Services</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'services' %}">- Consultation</a></li>
                      <li><a href="{% url 'services' %}">- Healthy life plan</a></li>
                      <li><a href="{% url 'services' %}">- Diet and Workout</a></li>
                      <li><a href="{% url 'services' %}">- Kinetotherapy</a></li>
                    </ul>
                    </a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li><a style="margin-left:145px;" href="{% url 'profile' %}">My Profile</a></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                        <li><a style="margin-left:145px;" href="{% url 'login' %}">Log in</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            {% if user.is_superuser %}
                <a href="{% url 'apps' %}" class="btn dento-btn booking-btn">Appointments</a>
            {% else %}
                 <a href="{% url 'book' %}" class="btn dento-btn booking-btn">Book an appointment</a>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <!-- ***** Welcome Area Start ***** -->


    <main role="main" class="container">
    <div>
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    </div>
        {% block content %}{% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <!-- All js -->
    <script src="{% static 'blog/js/dento.bundle.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'blog/js/default-assets/active.js' %}"></script>
</body>
</html>